.DS_Store
/bin
/gen
.settings
.buildpath
.project
.classpath
lint.xml
/target/

/app/src/res/values/apikeys.xml
/app/res/values/apikeys.xml
/app/app-release.apk
.idea
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
build
