<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="gov.wa.wsdot.android.wsdot"
      android:installLocation="auto"
      android:versionCode="0714200"
      android:versionName="2.0.0-BETA">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />    

    <application
	 	android:icon="@drawable/ic_launcher"
	 	android:label="@string/app_name"
		android:theme="@style/Theme.Sherlock.Light.DarkActionBar.ForceOverflow" >

        <provider
            android:name=".provider.WSDOTProvider"
            android:authorities="gov.wa.wsdot.android.wsdot.provider.WSDOTProvider"
            android:exported="false" />
        
        <service
            android:name=".service.CamerasSyncService" />
        
        <service
            android:name=".service.HighwayAlertsSyncService" />
                
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name" >
        	<intent-filter>
            	<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.NewsActivity"
            android:label="@string/title_news" />
        
   		<activity
   		    android:name=".ui.NewsDetailsActivity" />

   		<activity
   		    android:name=".ui.AboutActivity"
   		    android:label="@string/title_about" />   		
   				
   		<activity
   		    android:name=".ui.BlogActivity"
   		    android:label="@string/title_blog" />
   		
   		<activity
   		    android:name=".ui.BlogDetailsActivity" />
   		
   		<activity
   		    android:name=".ui.TwitterActivity"
   		    android:label="@string/title_twitter" />
   		
   		<activity
   		    android:name=".ui.TwitterDetailsActivity"
   		    android:label="@string/title_twitter" />

   		<activity
   		    android:name=".ui.FacebookActivity"
   		    android:label="@string/title_facebook" />
   		
   		<activity
   		    android:name=".ui.FacebookDetailsActivity"
   		    android:label="@string/title_facebook" />   		
   				
   		<activity
   		    android:name=".ui.PhotosActivity"
   		    android:label="@string/title_photos" />
   		
   		<activity
   		    android:name=".ui.PhotoDetailsActivity" />
   		
   		<activity
   		    android:name=".ui.SocialMediaActivity"
   		    android:label="@string/title_socialmedia" />
   		
   		<activity
   		    android:name=".ui.MountainPassesActivity"
   		    android:label="@string/title_mountainpasses" />
   		
   		<activity
   		    android:name=".ui.MountainPassItemActivity" />
   		
   		<activity
   		    android:name=".ui.TrafficMapActivity"
   		    android:label="@string/title_trafficmap" />
   		
   		<activity
   		    android:name=".ui.SeattleTrafficAlertsActivity"
   		    android:label="@string/title_seattlealerts" />
   		
   		<activity
   		    android:name=".ui.TravelTimesActivity"
   		    android:label="@string/title_traveltimes">
        
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" /> 		    
   		    	
   		</activity>
   		
   		<activity
   		    android:name=".ui.SeattleExpressLanesActivity"
   		    android:label="@string/title_expresslanes" />
   		
   		<activity
   		    android:name=".ui.PreferencesActivity"
   		    android:label="@string/title_preferences" />
   		
   		<activity
   		    android:name=".ui.BorderWaitActivity"
   		    android:label="@string/title_borderwait" />
   		   		
   		<activity
   		    android:name=".ui.FerriesActivity"
   		    android:label="@string/title_ferries" />
   		
   		<activity
   		    android:name=".ui.FerriesRouteAlertsActivity"
   		    android:label="@string/title_ferriesroutealerts" />
   		
   		<activity
   		    android:name=".ui.FerriesRouteAlertsBulletinsActivity" />
   		
   		<activity
   		    android:name=".ui.FerriesRouteAlertsBulletinDetailsActivity" />
   		
   		<activity
   		    android:name=".ui.FerriesRouteSchedulesActivity"
   		    android:label="@string/title_ferriesrouteschedules" />
   		
   		<activity
   		    android:name=".ui.FerriesRouteSchedulesDaysActivity" />
   		
   		<activity
   		    android:name=".ui.FerriesRouteSchedulesDaySailingsActivity" />
   		
   		<activity
   		    android:name=".ui.FerriesRouteSchedulesDayDeparturesActivity" />
   		
   		<activity
   		    android:name=".ui.VesselWatchMapActivity"
   		    android:label="@string/title_vesselwatch" />
   		
   		<activity
   		    android:name=".ui.VesselWatchDetailsActivity" />
   		
   		<activity
   		    android:name=".ui.TollRatesActivity"
   		    android:label="@string/title_tollrates" />
   		
   		<activity
   		    android:name=".ui.VideoActivity"
   		    android:label="@string/title_video" />
   		
   		<activity
   		 	android:name=".ui.CameraActivity"
   		    android:uiOptions="splitActionBarWhenNarrow" />

   		<activity
   		    android:name=".ui.HighwayAlertDetailsActivity" />
   				
   		<uses-library android:name="com.google.android.maps" />   		
   		
    </application>

</manifest> 