<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="gov.wa.wsdot.android.wsdot"
      android:installLocation="auto"
      android:versionCode="27"
      android:versionName="1.5.11">

    <application
	 	android:icon="@drawable/icon"
	 	android:label="@string/app_name"
		android:debuggable="false"
		android:theme="@android:style/Theme.Light" >

        <activity
        	android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="WSDOT" />
   		<activity android:name="News" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="NewsItemDetails" />
   		<activity android:name="Blog" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="BlogItemDetails" />
   		<activity android:name="Twitter" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="TwitterItemDetails" />
   		<activity android:name="Photos" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="PhotoItemDetails" />
   		<activity android:name="About" />
   		<activity android:name="TrafficTravel" />
   		<activity android:name="MountainPassConditions" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="MountainPassItemDetails" />
   		<activity android:name="MountainPassItemTabs" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="MountainPassItemCamera" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="MountainPassItemForecast" />   		
   		<activity android:name="MountainPassItemMap" />
   		<activity android:name="TrafficMap" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="SeattleTrafficAlerts" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="SeattleTrafficTravelTimes" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="EditPreferences" />
   		<activity android:name="BorderWait" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="Ferries" />
   		<activity android:name="RouteAlerts" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="RouteAlertsItems" />
   		<activity android:name="RouteAlertsItemDetails" />
   		<activity android:name="RouteSchedules" android:configChanges="orientation|keyboardHidden" />
   		<activity android:name="RouteSchedulesDays" />
   		<activity android:name="RouteSchedulesDaySailings" />
   		<activity android:name="RouteScheduleDayDepartures" />
   		<activity android:name="VesselWatchMap" android:configChanges="orientation|keyboardHidden" />

   		<uses-library android:name="com.google.android.maps" />

    </application>

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest> 