<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.wa.wsdot.android.wsdot"
    android:installLocation="auto">

    <permission
        android:name="gov.wa.wsdot.android.wsdot.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".ui.WsdotApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/WSDOT"
        android:fullBackupContent="@xml/my_backup_rules"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBfeBLDQdt0QV7qwHZrZQBuBMzNmm_LsP0" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlytics_enabled}" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="ALERTS" />
        <service
            android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_list_wsdot" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary_default" />

        <service android:name=".service.MyRouteTrackingService" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- You don't need to include android:required="false" if your app's
        minSdkVersion is 28 or higher. -->
        <uses-library android:name="android.test.runner"
            android:required="false" />
        <!-- For both of these declarations, you don't need to include
     android:required="false" if your app's minSdkVersion is 28
     or higher. -->
        <uses-library android:name="android.test.base"
            android:required="false" />
        <uses-library android:name="android.test.mock"
            android:required="false" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.trafficmap.news.NewsActivity"
            android:label="@string/title_news"
            />
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_about" />
        <activity
            android:name=".ui.mountainpasses.MountainPassesActivity"
            android:label="@string/title_mountainpasses" />
        <activity android:name=".ui.mountainpasses.passitem.MountainPassItemActivity" />
        <activity
            android:name=".ui.trafficmap.TrafficMapActivity"
            android:label="@string/title_trafficmap"
            android:parentActivityName=".ui.home.HomeActivity">
            <!-- Parent activity meta-data to support API level 4+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>

        <activity
            android:name=".ui.trafficmap.alertsinarea.HighwayAlertListActivity"
            android:label="@string/title_alerts" />
        <activity
            android:name=".ui.traveltimes.TravelTimesActivity"
            android:label="@string/title_traveltimes" />
        <activity
            android:name=".ui.trafficmap.socialmedia.SocialMediaTabActivity"
            android:label="Happening Now" />
        <activity
            android:name=".ui.trafficmap.besttimestotravel.TravelChartsActivity"
            android:label="@string/title_besttimes" />
        <activity
            android:name=".ui.trafficmap.expresslanes.SeattleExpressLanesActivity"
            android:label="@string/title_expresslanes" />
        <activity
            android:name=".ui.borderwait.BorderWaitActivity"
            android:label="@string/title_borderwait" />

        <activity
            android:name=".ui.ferries.FerriesRouteSchedulesActivity"
            android:label="@string/title_ferriesrouteschedules"
            android:parentActivityName=".ui.home.HomeActivity">
            <!-- Parent activity meta-data to support API level 4+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />

        </activity>

        <activity
            android:name=".ui.ferries.bulletins.FerriesRouteAlertsBulletinsActivity"
            android:parentActivityName=".ui.ferries.departures.FerriesRouteSchedulesDayDeparturesActivity">
            <!-- Parent activity meta-data to support API level 4+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ferries.departures.FerriesRouteSchedulesDayDeparturesActivity" />
        </activity>

        <activity
            android:name=".ui.ferries.departures.FerriesRouteSchedulesDayDeparturesActivity"
            android:label="@string/title_ferry_sailings"
            android:parentActivityName=".ui.ferries.FerriesRouteSchedulesActivity">
            <!-- Parent activity meta-data to support API level 4+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ferries.FerriesRouteSchedulesActivity" />
        </activity>

        <activity
            android:name=".ui.ferries.bulletins.FerriesRouteAlertsBulletinDetailsActivity"
            android:parentActivityName=".ui.ferries.bulletins.FerriesRouteAlertsBulletinsActivity">
            <!-- Parent activity meta-data to support API level 4+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ferries.bulletins.FerriesRouteAlertsBulletinsActivity" />
        </activity>

        <activity android:name=".ui.ferries.departures.vesselwatch.VesselWatchDetailsActivity" />
        <activity
            android:name=".ui.tollrates.TollRatesActivity"
            android:label="@string/title_tollrates" />
        <activity android:name=".ui.camera.CameraActivity" />
        <activity android:name=".ui.camera.CameraListActivity" />

        <activity android:name=".ui.alert.detail.HighwayAlertDetailsActivity"
            android:parentActivityName=".ui.trafficmap.TrafficMapActivity">
            <!-- Parent activity meta-data to support API level 4+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.trafficmap.TrafficMapActivity" />
        </activity>

        <activity android:name=".ui.trafficmap.restareas.RestAreaActivity" />
        <activity
            android:name=".ui.amtrakcascades.AmtrakCascadesActivity"
            android:label="@string/title_amtrakcascades" />
        <activity
            android:name=".ui.amtrakcascades.AmtrakCascadesSchedulesActivity"
            android:label="@string/title_amtrakcascades_schedules" />
        <activity
            android:name=".ui.amtrakcascades.AmtrakCascadesSchedulesDetailsActivity"
            android:label="@string/title_amtrakcascades_train_schedules" />
        <activity android:name=".ui.callout.CalloutActivity" />
        <activity
            android:name=".ui.myroute.MyRouteActivity"
            android:label="@string/title_activity_my_route" />

        <activity
            android:name=".ui.myroute.report.MyRouteReportActivity"
            android:label="Route Report"/>

        <activity
            android:name=".ui.myroute.newroute.NewRouteActivity"
            android:label="@string/title_activity_new_route" />
        <activity android:name=".ui.myroute.myroutealerts.MyRouteAlertsListActivity" />
        <activity android:name=".ui.myroute.MyRouteMapActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.home.EventActivity"/>
        <activity android:name=".ui.camera.CameraViewPagerActivity"/>

        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:label="@string/title_activity_notifications"/>

        <activity android:name=".ui.tollrates.TollRatesRouteActivity"/>

    </application>

</manifest>